:root {
  /* Colors */
  --color-BasicBg: #202630;
  --color-SecondaryBg: #191a1f;
  --color-Input: #29313d;
  --color-InputLine: #434c5a;
  --color-CardBg: #202630;
  --color-Vessel: #29313d;
  --color-Line: #303846;
  --color-DisableBtn: #434c5a;
  --color-DisableText: #707a8a;
  --color-TertiaryText: #4f5867;
  --color-SecondaryText: #848e9c;
  --color-PrimaryText: #eaecef;
  --color-RedGreenBgText: #ffffff;
  --color-EmphasizeText: #ff693d;
  --color-TextOnGray: #eaecef;
  --color-TextOnYellow: #202630;
  --color-IconNormal: #707a8a;
  --color-LiteBg1: #202630;
  --color-LiteBg2: #191a1f;
  --color-BtnBg: #fcd535;
  --color-PrimaryYellow: #f0b90b;
  --color-TextLink: #f0b90b;
  --color-TradeBg: #0b0e11;
  --color-TextToast: #f0b90b;
  --color-DepthSellBg: #35141d;
  --color-SellHover: #f6465d;
  --color-Sell: #f6465d;
  --color-TextSell: #f6465d;
  --color-DepthBuyBg: #102821;
  --color-BuyHover: #2ebd85;
  --color-Buy: #2ebd85;
  --color-TextBuy: #2ebd85;
  --color-Error: #f6465d;
  --color-SuccessBg: #102821;
  --color-Success: #2ebd85;
  --color-TagBg: #434c5a;
  --color-Grid: #303846;
  --color-Placeholder: #434c5a;
  --color-ToastBg: rgba(79, 88, 103, 0.95);
  --color-TwoColorIcon: #4f5867;
  --color-ErrorBg: rgba(246, 70, 93, 0.1);
  --color-BadgeBg: rgba(240, 185, 11, 0.1);
  --color-Popup: #303846;
  --color-Mask: rgba(11, 14, 17, 0.6);
  --color-WidgetSecondaryBg: rgba(193, 204, 219, 0.08);
  --color-ContainerBg: #29313d;
  --color-YellowAlpha10: rgba(252, 213, 53, 0.1);
  --color-YellowAlpha20: rgba(252, 213, 53, 0.2);
  --color-RedAlpha10: rgba(246, 70, 93, 0.1);
  --color-RedAlpha20: rgba(246, 70, 93, 0.2);
  --color-GreenAlpha10: rgba(46, 189, 133, 0.1);
  --color-GreenAlpha20: rgba(46, 189, 133, 0.2);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;
  color: var(--color-PrimaryText);
}

body {
  box-sizing: border-box;
  padding: 0;
  background-color: var(--color-SecondaryBg);
}

/* Wrapper */
.auth-wrapper {
  width: 450px;
  margin: 30px auto;
  border: 1px solid rgba(169, 162, 162, 0.3);
  border-radius: 0.8rem;
  position: relative;
}

/* Toggle */
.auth-toggle {
  background: linear-gradient(var(--color-LiteBg1) 50%, var(--color-BtnBg) 50%);
  height: 65px;
  display: flex;
  overflow: hidden;
  padding-bottom: 5px;
  border-radius: 0.8rem 0.8rem 0 0;
  transition: background 1s ease-in-out;
}

.toggle-btn {
  border: none;
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;
  transition: width 1s ease-in-out, height 1s ease-in-out,
    border-radius 1s ease-in-out;
}

#toggle-signup {
  background-color: var(--color-BtnBg);
  color: var(--color-Input);
  border-radius: 0 1.6rem 0 0;
  width: 55%;
  transition: 0.2s;
}
#toggle-signup:hover {
  font-size: 1.5rem;
}

#toggle-signin {
  background-color: var(--color-LiteBg1);
  border-radius: 0 0 0 1.6rem;
  width: 45%;
  transition: 0.2s;
}

#toggle-signin:hover {
  font-size: 1.5rem;
}

/* Forms */
.form {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 18px 24px;
}
.auth-form {
  display: flex;
}
.form-signin {
  display: none; /* hidden by default */
}

/* Group */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 18px 0;
  position: relative;
}

.form-label {
  color: rgb(202, 202, 202);
}

.form-input {
  padding: 14px 12px;
  border-radius: 0.5rem;
  background-color: rgb(236, 235, 235);
  color: var(--color-BasicBg);
}

.form-error {
  font-size: 0.8rem;
  color: var(--color-Error);
}

/* Submit Buttons */
.btn-submit {
  width: 100%;
  background-color: var(--color-BtnBg);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-Input);
  border-radius: 500px;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.1s;
}

.btn-submit:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 1px var(--color-BtnBg);
  font-size: 1.31rem;
}

/* Divider & Social */
.social-login {
  margin: 32px 0;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.divider .line {
  width: 50px;
  height: 1px;
  background-color: rgb(107, 107, 107);
}

.divider-text {
  color: rgb(156, 155, 155);
  font-size: 14px;
}

.social-options {
  margin: 32px 0;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-btn {
  height: 50px;
  width: 50px;
  background-color: white;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s;
}
.social-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2px white;
}

/* Password field */
.password-toggle .icon-show-password {
  width: 22px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 35px;
  cursor: pointer;
}

.forgot-password {
  font-size: 0.8rem;
  align-self: flex-end;
  padding-right: 10px;
  color: var(--color-TextLink);
  text-decoration: none;
  cursor: pointer;
}

.forgot-password:hover {
  transform: scale(1.05);
}
/* Display enable and disable */

.enable-display {
  display: none;
}

/* Toggle signup and signin */
.signin-btn {
  background-color: var(--color-BtnBg) !important;
  width: 55% !important;
  color: var(--color-Input);
  border-radius: 1.6rem 0rem 0rem 0rem !important;
}

.signup-btn {
  width: 45% !important;
  background-color: var(--color-LiteBg1) !important;
  border-radius: 0 0rem 1.6rem 0 !important;
  color: var(--color-PrimaryText) !important;
}

/* alert container */
.alert-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(252, 252, 252, 0.2);
  backdrop-filter: blur(4px);
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-box {
  background-color: var(--color-LiteBg1);
  border-radius: 16px;
  min-height: 150px;
  padding: 24px;
  width: 370px;
  margin: auto;
  font-size: 1.2rem;
  display: block;
  position: relative;
  animation: messageIn 0.4s ease-in forwards;
}

.alert-box h3 {
  margin-bottom: 20px;
  font-weight: 500;
}

#alert-message {
  width: 330px;
  font-weight: 100;
}

.alert-close {
  background-color: transparent;
  position: absolute;
  top: 10px;
  border: none;
  right: 10px;
  cursor: pointer;
  transition: 0.2s all;
}

.alert-close:hover {
  transform: scale(1.1);
}

/* Animation message in and out */

@keyframes messageIn {
  0% {
    transform: translateY(60vh);
    opacity: 0;
  }

  80% {
    transform: translateY(-30px);
    opacity: 0.8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes messageOut {
  0% {
    transform: translateY(0vh);
    opacity: 1;
  }

  100% {
    transform: translateY(60vh);
    opacity: 0;
  }
}
