:root {
  /* Colors */
  --color-BasicBg: #202630;
  --color-SecondaryBg: #191a1f;
  --color-Input: #29313d;
  --color-InputLine: #434c5a;
  --color-CardBg: #202630;
  --color-text1: #29313d;
  --color-Line: #303846;
  --color-DisableBtn: #434c5a;
  --color-DisableText: #707a8a;
  --color-text2: #4f5867;
  --color-background2: #848e9c;
  --color-PrimaryText: #eaecef;
  --color-lightText1: #ffffff;
  --color-EmphasizeText: #ff693d;
  --color-TextOnGray: #eaecef;
  --color-TextOnYellow: #202630;
  --color-IconNormal: #707a8a;
  --color-LiteBg1: #202630;
  --color-LiteBg2: #191a1f;
  --color-BtnBg: #fcd535;
  --color-PrimaryYellow: #f0b90b;
  --color-TextLink: #f0b90b;
  --color-TradeBg: #0b0e11;
  --color-email: #f0b90b;
  --color-DepthSellBg: #35141d;
  --color-Hover: #f6465d;
  --color-Sell: #f6465d;
  --color-TextSell: #f6465d;
  --color-DepthBuyBg: #102821;
  --color-BuyHover: #2ebd85;
  --color-Buy: #2ebd85;
  --color-TextBuy: #2ebd85;
  --color-Error: #f6465d;
  --color-SuccessBg: #102821;
  --color-Success: #2ebd85;
  --color-TagBg: #434c5a;
  --color-Grid: #303846;
  --color-Placeholder: #434c5a;
  --color-ToastBg: rgba(79, 88, 103, 0.95);
  --color-TwoColorIcon: #4f5867;
  --color-ErrorBg: rgba(246, 70, 93, 0.1);
  --color-BadgeBg: rgba(240, 185, 11, 0.1);
  --color-Popup: #303846;
  --color-Mask: rgba(11, 14, 17, 0.6);
  --color-WidgetSecondaryBg: rgba(193, 204, 219, 0.08);
  --color-ContainerBg: #29313d;
  --color-YellowAlpha10: rgba(252, 213, 53, 0.1);
  --color-YellowAlpha20: rgba(252, 213, 53, 0.2);
  --color-RedAlpha10: rgba(246, 70, 93, 0.1);
  --color-RedAlpha20: rgba(246, 70, 93, 0.2);
  --color-GreenAlpha10: rgba(46, 189, 133, 0.1);
  --color-GreenAlpha20: rgba(46, 189, 133, 0.2);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;
  color: var(--color-PrimaryText);
}

body {
  box-sizing: border-box;
  padding: 0;
  background-color: var(--color-SecondaryBg);
  font-size: 10px;
}
