:root {
  /* From first branch */
  --color-BasicBg: #202630;
  --color-SecondaryBg: #191a1f;
  --color-Input: #29313d;
  --color-InputLine: #434c5a;
  --color-CardBg: #202630;
  --color-Vessel: #29313d;
  --color-Line: #303846;
  --color-DisableBtn: #434c5a;
  --color-DisableText: #707a8a;
  --color-TertiaryText: #4f5867;
  --color-SecondaryText: #848e9c;
  --color-PrimaryText: #eaecef;
  --color-RedGreenBgText: #ffffff;
  --color-EmphasizeText: #ff693d;
  --color-TextOnGray: #eaecef;
  --color-TextOnYellow: #202630;
  --color-IconNormal: #707a8a;
  --color-LiteBg1: #202630;
  --color-LiteBg2: #191a1f;
  --color-BtnBg: #fcd535;
  --color-PrimaryYellow: #f0b90b;
  --color-TextLink: #f0b90b;
  --color-TradeBg: #0b0e11;
  --color-TextToast: #f0b90b;
  --color-DepthSellBg: #35141d;
  --color-SellHover: #f6465d;
  --color-Sell: #f6465d;
  --color-TextSell: #f6465d;
  --color-DepthBuyBg: #102821;
  --color-BuyHover: #2ebd85;
  --color-Buy: #2ebd85;
  --color-TextBuy: #2ebd85;
  --color-Error: #f6465d;
  --color-SuccessBg: #102821;
  --color-Success: #2ebd85;
  --color-TagBg: #434c5a;
  --color-Grid: #303846;
  --color-Placeholder: #434c5a;
  --color-ToastBg: rgba(79, 88, 103, 0.95);
  --color-TwoColorIcon: #4f5867;
  --color-ErrorBg: rgba(246, 70, 93, 0.1);
  --color-BadgeBg: rgba(240, 185, 11, 0.1);
  --color-Popup: #303846;
  --color-Mask: rgba(11, 14, 17, 0.6);
  --color-WidgetSecondaryBg: rgba(193, 204, 219, 0.08);
  --color-ContainerBg: #29313d;
  --color-YellowAlpha10: rgba(252, 213, 53, 0.1);
  --color-YellowAlpha20: rgba(252, 213, 53, 0.2);
  --color-RedAlpha10: rgba(246, 70, 93, 0.1);
  --color-RedAlpha20: rgba(246, 70, 93, 0.2);
  --color-GreenAlpha10: rgba(46, 189, 133, 0.1);
  --color-GreenAlpha20: rgba(46, 189, 133, 0.2);

  /* From second branch */
  --red: rgb(175, 37, 37);
  --grey1: rgb(248, 248, 248);
  --grey2: rgb(160, 156, 156);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Fredoka", sans-serif;
  color: var(--color-PrimaryText);
}

body {
  font-size: 10px;
  box-sizing: border-box;
  padding: 0px;
  background-color: var(--color-SecondaryBg);
}

.page {
  width: 450px;
  margin: 32px auto;
  padding: 40px 28px;
  background-color: var(--color-IconNormal);
  border-radius: 1.6rem;
}

.form {
  display: flex;
  flex-direction: column;
}

/* Both heading styles merged sign up and sign in */
.heading-container {
  background: linear-gradient(var(--color-BtnBg) 50%, var(--color-CardBg) 50%);
  height: 60px;
  margin: 20px 0px;
  display: flex;
  align-items: end;
  overflow: hidden;
  border-radius: 8px;
}

.sign-in-container {
  height: 90%;
  width: 50%;
  background-color: green;
  border-radius: 0rem 1.6rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-container {
  height: 100%;
  width: 50%;
  font-size: 1.6rem;
  color: var(--color-BasicBg);
  background-color: var(--color-BtnBg);
  border-radius: 0rem 0rem 0rem 1.6rem;
  text-align: center;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading p {
  color: var(--grey2);
  margin-bottom: 32px;
}

.text {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
}

.input {
  height: 48px;
  border-radius: 5px;
  border: none;
  padding: 0px 16px;
  background-color: var(--grey1);
  font-size: 16px;
  color: var(--color-BasicBg);
}

.email {
  margin-bottom: 16px;
}
.pass-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey1);

  border-radius: 5px;
}

.password-error {
  color: var(--red);
  font-size: 14px;
  margin-top: 8px;
  display: none;
}

.pass-container img {
  margin-right: 16px;
  width: 20px;
}
.forget-password-container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 8px;
  margin-bottom: 48px;
}
.submit-btn {
  height: 48px;
  border-radius: 500px;
  border: none;
  background-color: var(--color-BtnBg);
  color: var(--color-DisableBtn);
  font-size: 18px;
  font-weight: 500;
}
.sign-option-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--grey2);
  gap: 10px;
  margin: 48px auto;
}
.line {
  border: 1px solid rgb(231, 227, 227);
  width: 80px;
}
.sign-apps-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 32px;
}
.sign-apps-container button {
  border: 2px solid rgb(225, 225, 225);
  width: 60px;
  height: 60px;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.last-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.last-container p {
  color: var(--grey2);
}
