:root {
  /* From first branch */
  --color-BasicBg: #202630;
  --color-SecondaryBg: #191a1f;
  --color-Input: #29313d;
  --color-InputLine: #434c5a;
  --color-CardBg: #202630;
  --color-Vessel: #29313d;
  --color-Line: #303846;
  --color-DisableBtn: #434c5a;
  --color-DisableText: #707a8a;
  --color-TertiaryText: #4f5867;
  --color-SecondaryText: #848e9c;
  --color-PrimaryText: #eaecef;
  --color-RedGreenBgText: #ffffff;
  --color-EmphasizeText: #ff693d;
  --color-TextOnGray: #eaecef;
  --color-TextOnYellow: #202630;
  --color-IconNormal: #707a8a;
  --color-LiteBg1: #202630;
  --color-LiteBg2: #191a1f;
  --color-BtnBg: #fcd535;
  --color-PrimaryYellow: #f0b90b;
  --color-TextLink: #f0b90b;
  --color-TradeBg: #0b0e11;
  --color-TextToast: #f0b90b;
  --color-DepthSellBg: #35141d;
  --color-SellHover: #f6465d;
  --color-Sell: #f6465d;
  --color-TextSell: #f6465d;
  --color-DepthBuyBg: #102821;
  --color-BuyHover: #2ebd85;
  --color-Buy: #2ebd85;
  --color-TextBuy: #2ebd85;
  --color-Error: #f6465d;
  --color-SuccessBg: #102821;
  --color-Success: #2ebd85;
  --color-TagBg: #434c5a;
  --color-Grid: #303846;
  --color-Placeholder: #434c5a;
  --color-ToastBg: rgba(79, 88, 103, 0.95);
  --color-TwoColorIcon: #4f5867;
  --color-ErrorBg: rgba(246, 70, 93, 0.1);
  --color-BadgeBg: rgba(240, 185, 11, 0.1);
  --color-Popup: #303846;
  --color-Mask: rgba(11, 14, 17, 0.6);
  --color-WidgetSecondaryBg: rgba(193, 204, 219, 0.08);
  --color-ContainerBg: #29313d;
  --color-YellowAlpha10: rgba(252, 213, 53, 0.1);
  --color-YellowAlpha20: rgba(252, 213, 53, 0.2);
  --color-RedAlpha10: rgba(246, 70, 93, 0.1);
  --color-RedAlpha20: rgba(246, 70, 93, 0.2);
  --color-GreenAlpha10: rgba(46, 189, 133, 0.1);
  --color-GreenAlpha20: rgba(46, 189, 133, 0.2);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Fredoka", sans-serif;
  color: rgb(202, 202, 202);
  text-align: center;
}

body {
  box-sizing: border-box;
  padding: 0px;
  background-color: var(--color-SecondaryBg);
}

.email-container {
  display: flex;
  height: 2.4rem;
  gap: 0.8rem;
  width: 100%;
  justify-items: start;
  align-items: stretch;
  margin: 2.4rem 0rem 0.8rem;
}

.email {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: var(--color-BasicBg);
  border: none;
  text-align: start;
  padding: 0rem 0.8rem;
}

.btn-send {
  font: 1.8rem;
  padding: 0.2rem;
  width: 64px;
  border: none;
  border-radius: 8px;
  color: var(--color-BasicBg);
  transition: all 0.3s;
}

.btn-send:hover {
  background-color: #daae00;
  cursor: pointer;
  transition: all 0.3s;
}

.page {
  width: 300px;
  margin: 24px auto;
  padding: 48px;
  border: 1px solid rgba(169, 162, 162, 0.3);
  position: relative;
  border-radius: 0.8rem;
}

.page h1 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 16px;
}

.page :nth-child(3) {
  font-weight: 500;
}

.text1 {
  font-size: 1rem;
  color: rgb(156, 155, 155);
  margin-bottom: 4px;
}

.otp-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 64px 0px;
}

.otp {
  border: none;
  background-color: var(--color-DisableBtn);
  width: 40px;
  height: 38px;
  font-size: rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verify-btn {
  display: block;
  width: 100%;
  height: 45px;
  border-radius: 500px;
  color: var(--color-Input);
  font-size: 1.4rem;
  font-weight: 400;
  border: none;
  transition: 0.3s all;
}

.verify-btn:hover {
  cursor: pointer;
  transition: 0.3s all;
  background-color: #daae00;
}

.btn-back {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500px;
  position: absolute;
  top: 14px;
  left: 14px;
  background-color: transparent;
  border: none;
  transition: 0.3s all;
}

.btn-back:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: 0.3s all;
}

.countdown {
  font-weight: 500;
  margin-bottom: 12px;
}

.resend {
  background-color: transparent;
  border: none;
  color: var(--color-DisableText);
  font-size: 1rem;
}

.btn-disable {
  background-color: var(--color-BasicBg) !important;
}
