<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirm Email</title>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      background-color: #191a1f;
      font-family: Arial, sans-serif;
    "
  >
    <table
      width="100%"
      border="0"
      cellspacing="0"
      cellpadding="0"
      bgcolor="#191a1f"
      style="
        padding: 20px;
        border: 1px solid rgb(158, 158, 158);
        box-shadow: 0px 0px 6px grey;
        border-radius: 18px;
      "
    >
      <tr>
        <td align="start">
          <table
            width="350"
            border="0"
            cellspacing="0"
            cellpadding="0"
            bgcolor="#191a1f"
            style="margin: 6px auto; padding: 8px; border-radius: 16px"
          >
            <tr>
              <td align="start" style="padding-bottom: 16px">
                <h1 style="color: #ffffff; font-size: 20px; margin: 0">
                  Hello {{username}},
                </h1>
              </td>
            </tr>

            <!-- Message -->
            <tr>
              <td align="start">
                <p style="color: #c5c5c5; font-size: 16px; line-height: 20px">
                  We received a request to reset your password for your "Your
                  Every Task" account. Use the following One-Time Password (OTP)
                  to complete the process:
                </p>
              </td>
            </tr>

            <!-- Button -->
            <tr>
              <td align="center">
                <p
                  style="
                    color: #ffff;
                    font-weight: 900;
                    font-size: 20px;
                    letter-spacing: 12px;
                  "
                >
                  {{otp}}
                </p>
              </td>
            </tr>

            <tr>
              <td align="start">
                <p style="font-size: 12px; color: #c5c5c5; font-weight: 200">
                  This OTP will expire in 10 minutes for security reasons.
                </p>
              </td>
            </tr>

            <tr>
              <td align="start" style="padding-bottom: 20px">
                <p style="font-size: 12px; color: #c5c5c5; font-weight: 200">
                  If you didn't request this password reset, please ignore this
                  email or contact our support team if you have concerns.
                </p>
              </td>
            </tr>

            <!-- Divider -->
            <tr>
              <td align="start" style="padding-bottom: 20px">
                <hr
                  style="border: 0; border-top: 1px solid #303846; margin: 0"
                />
              </td>
            </tr>

            <!-- Ignore message -->
            <tr>
              <td align="start">
                <p
                  style="
                    color: #7e7e7e;
                    font-size: 12px;
                    line-height: 20px;
                    margin: 0;
                  "
                >
                  For security reasons, please do not share this OTP with
                  anyone. Our support team will never ask you for your password
                  or verification codes.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
